{{ attach_library('storybook/ContentArticle') }}

{% if image %}
	{% set topImage %}
	{% include "@storybook/ContentImage/ContentImage.twig" with{
			text: imageText,
			credit: imageCredit,
			image: image,
		}%}
	{% endset %}
{% endif %}

{% set contentText %}
{{ topImage }}
{{ summary }}
{% endset %}

<div class="ContentArticle">
	<div class="ContentArticle__header">
		{% include "@storybook/Heading/Heading.twig" with {
      forceH1: 'true',
      title: label
    }%}

		{% include "@storybook/ArticleMeta/ArticleMeta.twig" with {
      items: articleMeta,
    }%}

		{% if sector_tag_1 is not empty %}
			<p>
				<span class="TagPill TagPill--large">{{ sector_tag_1}}</span>
				{% if sector_tag_2 is not empty %}
					<span class="TagPill TagPill--large">{{ sector_tag_2}}</span>
				{% endif %}
			</p>
		{% endif %}
	</div>

	{% include "@storybook/TextBlock/TextBlock.twig" with {
		content: contentText
	}%}

	{% if relatedItems is defined and relatedItems|length > 0 %}
		{% include "@storybook/VSpacer/VSpacer.twig" with {
			size: 'true',
			small: 'small',
			content: '<hr/>'
		}%}

		{% include "@storybook/RelatedLinks/RelatedLinks.twig" with {
			title: 'Related material'|trans,
			items: relatedItems
		}%}
	{% endif %}

	{% include "@storybook/VSpacer/VSpacer.twig" with {
		size: 'true',
		small: 'small',
		content: ''
	}%}
</div>
