{{ attach_library('hanna/ContextMenu') }}
{#
  ## `ContextMenu` Props:

  - items: Array<ContextMenuItem | ContextMenuCustomItem>
    // The items to display inside the dropdown menu
  - wrapperProps?: object  \
    // Additional props/attributes to add to the outer wrapper `<div>` element

  Then for the toggler toggler, either:

  - label: string  \
    // Label for the toggler.
  - label_html: string  \
    // Label for the toggler that should be rendered as raw HTML.
    // (If both `label` and `label_html` are provided, a non-empty`label` takes precedence.)
  - label_long?: string  \
    // Un-abbreviated toggler label set as `aria-label=""`
  - toggler_type: 'primary' | 'secondary'  \
    // Button type style (default: 'secondary')
  - toggler_size?: 'small' | 'wide' | 'normal'  \
    // Button size style (default: 'normal')
  - toggler_variant?: 'normal' | 'destructive'  \
    // Button variant style (default: 'normal')
  - toggler_icon?: IconToken  \
    // Icon name to show in the toggler
    // (see ../../hanna-css/scripts/figma-icon-names.txt for available icons)

  Or:

  - toggler: string  \
    // Custom HTML content to use as the toggler

  ---------------------------------------------------

  ## `ContextMenuItem` Props

  - label: string  \
    // Label text for the menu item
  - label_html?: string  \
    // Label HTML string for the menu item
    // (If both `label` and `label_html` are provided, a non-empty`label` takes precedence.)
  - label_long?: string  \
    // Un-abbreviated label set as `aria-label=""`
  - lang?: string  \
    // Language of the link label, if different from the current page's
  - href_lang?: string  \
    // Languge of the linked resource, if different from the current page's
  - href: string  \
    // The URL the link points to
  - target?: string  \
    // The target attribute for the link (e.g. `_blank` to open in a
  - icon?: IconToken  \
    // Optional icon name to show alongside the label
    // (see ../../hanna-css/scripts/figma-icon-names.txt for available icons)
  - current?: boolean  \
    // If true, adds `aria-current="true"` to the item wrapper `<li>`
  - modifier?: string  \
    // Optional modifier class suffix for the item wrapper `<li>` (e.g. `ContextMenu__item--{{modifier}`})


  ---------------------------------------------------

  ## `ContextMenuCustomItem` Props

  - content: string  \
    // Custom HTML string for the menu item, which gets inserted into a
    // <li class="ContextMenu__item" /> wrapper.
  - current?: boolean  \
    // If true, adds `aria-current="true"` to the item wrapper `<li>`
  - modifier?: string  \
    // Optional modifier class suffix for the item wrapper `<li>`
    // (e.g. `ContextMenu__item--{{modifier}`})


  ---------------------------------------------------

  See example props data/values at the bottom of this file;

#}

{# ======================================================================= #}



<details class="ContextMenu">
  {% if toggler %}
    <summary class="ContextMenu__toggler">
      {{ toggler|raw }}
    </summary>
  {% else %}
    {% set togglerClass = toggler_type == 'primary' ? ' ButtonPrimary' : ' ButtonSecondary' %}
    {% set togglerSizeClass = toggler_size and toggler_size != 'normal' ? ' ' ~ togglerClass ~ '--' ~ toggler_size : '' %}
    {% set togglerVariantClass = toggler_variant and toggler_variant != 'normal' ? ' ' ~ togglerClass ~ '--' ~ toggler_variant : '' %}
    <summary
      class="ContextMenu__toggler{{ togglerClass ~ togglerSizeClass ~ togglerVariantClass }}"
      {% if toggler_icon %} data-icon="{{ toggler_icon }}" {% endif %}
      {% if label_long %} aria-label="{{ label_long }}" title="{{ label_long }}" {% endif %}
    >
      {% if label_html and not label %}
        {{ label_html|raw }}
      {% else %}
        {{ label }}
      {% endif %}
    </summary>
  {% endif %}

  <ul class="ContextMenu__menu" role="menu">
    {% for item in items %}
      {% set itemModifierClass = item.modifier ? ' ContextMenu__item--' ~ item.modifier : '' %}
      <li
        class="ContextMenu__item{{ itemModifierClass }}"
        {% if item.current %} aria-current="true" {% endif %}
      >
        {% if item.content %}
          {{ item.content|raw }}
        {% else %}
          <a
            class="ContextMenu__itembutton"
            href="{{ item.href }}"
            {% if item.lang %} lang="{{ item.lang }}" {% endif %}
            {% if item.href_lang %} hreflang="{{ item.href_lang }}" {% endif %}
            {% if item.target %} target="{{ item.target }}" {% endif %}
            {% if item.icon %} data-icon="{{ item.icon }}" {% endif %}
            {% if item.label_long %} aria-label="{{ item.label_long }}" {% endif %}
          >
            {% if item.label_html and not item.label %}
              {{ item.label_html|raw }}
            {% else %}
              {{ item.label }}
            {% endif %}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</details>

{#
  # Example 1 (Dummy) Props Data:

  {
    label: '',
    label_long: 'Tungumálavalmynd',
    toggler_type: 'secondary',
    toggler_icon: 'language', // globe icon
    items: [
      {
        label: 'Íslenska',
        href: ''
        current: true,
      },
      {
        label: 'English',
        href: '/en/same-page-in-english',
        lang: 'en',
        href_lang: 'en',
      },
      {
        label: 'Polish',
        href: '/pl/ta-sama-strona-po-polsku',
        lang: 'pl',
        href_lang: 'pl',
      },
    ],

  }

  # Example 2 with custom toggler
  {
    toggler: `<span style="display:block;background:yellow;padding:8px">Open Menu ▼</span>`,
    items: [
      {
        label: 'Item 1',
        href: '/path/to/item-1',
        icon: 'favorite',
        modifier: 'sparkling',
      },
      {
        current: true
        content: `<strong style="color:blue;">Custom Item 2</strong>`,
      },
    ],
  }
#}
