{# NOTE: Don't forget to run window.Hanna.loadSprinkle('ContactBubble') #}
{# TODO: Set up dynamic content #}
{# TODO: Make alwaysShow configurable #}

{% set alwaysShowAttr = true ? ' data-always-show="true"' %}


<div class="ContactBubble"{{ alwaysShowAttr|raw }}>
  <h2 class="ContactBubble__title">{{ title }}</h2>

  <ul class="ContactBubble__list">
  {% for key, item in bubble_items %}
    <li class="{{'ContactBubble__item ContactBubble__item--type--' ~ item.icon }}">
      <a
        class="ContactBubble__link"
        href="{{ item.href }}"
        {% if item.target %}
          target="{{ item.target }}"
        {% endif %}
      >
        {{ item.title }}
        <small>{{ item.description }}</small>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
