{{ attach_library('hanna/FooterBadges') }}

<ul class="FooterBadges">
{% if footer_badges is defined and footer_badges %}
	{% for badge in footer_badges %}
		<li class="FooterBadges__badge">
			{% if badge.href %}<a href="{{ badge.href }}">{% endif %}
			{% if badge.src %}<img src="{{ badge.src }}" alt="{{ badge.alt }}" />{% endif %}
			{% if badge.svg %}{{ badge.svg|raw }}{% endif %}
			{% if badge.href %}</a>{% endif %}
		</li>
	{% endfor %}
{% elseif default_badge is defined and default_badge %}
	<li class="FooterBadges__badge">{{ default_badge|raw }}</li>
{% endif %}
</ul>
