{#
/**
 * Available variables:
 * - page: page object from drupal
 * - siteName: Drupal site name,
 * - siteLogo: Drupal selected logo,
 * - skipLinkLabel: Skip link label string.,
 * - closeMenuLabel: String for menu close label.,
 * - logoLink: Url for logo link.,
*/
#}
{{ attach_library('hanna/Layout') }}
{{ attach_library('hanna/Alert') }}
{{ attach_library('hanna/BasicTable') }}
{% set _siteName = siteName != 'Reykjavík' and siteName != 'Reykjavik' ? siteName : '' %}
{% set logoType = _siteName != '' ?  '-notext' : '' %}

<div class="Layout">
	<div class="Layout__alerts" role="alert">
		{{ pageHeader }}
		<div id="sidewidealerts"></div>
	</div>
	<div class="Layout__content">
		<div class="Layout__header" role="banner">
			<a class="Layout__header__homelink" href="{{ logoLink ? logoLink : '/' }}">
        <picture class="Layout__header__logo">
          <img src="https://styles.reykjavik.is/assets/reykjavik-logo{{logoType}}.svg" alt="Reykjavík"/>
        </picture>
				{% if _siteName %}
				<span class="Layout__header__sitename">{{_siteName}}</span>
				{% endif %}
			</a>
			<a class="Layout__header__navlink" href="#pagenav" aria-label="{{skipLinkLabel}}">
				{{skipLinkLabel}}
			</a>
		</div>
		<div class="Layout__main" role="main">
			{{ page.content }}
		</div>
		<div class="Layout__nav" id="pagenav" role="navigation">
			{{ page.breadcrumb }}
			{% include '@reykjavik/layout/header.html.twig' %}
			{{ page.secondary_menu }}
		</div>
		<div class="Layout__footer" role="complementary">
			{% include '@reykjavik/layout/footer.html.twig' %}
			{% include "@hanna/FooterBadges.twig" %}
		</div>
	</div>
</div>
